#meme-image-container {
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
}

#meme-image-container img {
  width: 500px;
  height: 500px;
}

.text {
  position: relative;
  z-index: 200;
  bottom: 30%;
  width: 400px;
  word-wrap: break-word;
  text-align: center;
  margin: auto;
}

#meme-text {
    text-shadow: 5px 5px 5px black;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-transform: uppercase;
}

.default{
    border: solid 1px black;
}

.fire {
    border: dashed 3px red;
}

.water {
    border: double 5px blue;
}

.earth {
    border: groove 6px green;
}

#fire {
    background-color: red;
    color: white;
}

#water {
    background-color: blue;
    color: white;
}

#earth {
    background-color: green;
    color: white;
}

#memes-prontos img {
    width: 200px;
    height: 200px;
}
