#meme-image-container {
    width: 500px;
    height: 500px;
    background-color: white;
    border: solid 1px black;
}

#meme-image-container img {
  width: 500px;
  height: 500px;
}

.text {
  position: relative;
  z-index: 200;
  bottom: 30%;
  width: 400px;
  word-wrap: break-word;
  text-align: center;
  margin: auto;
}

#meme-text {
    text-shadow: 5px 5px 5px black;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-transform: uppercase;
}
